:root{
    --purple-primary: #dbeb51;
    --accent-pink: #717930;
    --neutral-light: #fffafa;
    --lavender-secondary: #cfe5e9; /*Primary Font Color*/
    --dark-primary: #dbdcfd;
    --border-colour: #000000;
}